<header>
    <div class="logo">
        <a href="{{URL}}/"><img src="{{caminho}}/resources/assets/img/logo_black.png" alt="Logo cloudShop"></a>
    </div>
    <nav class="menu-inicial">
        <ul>
            <li><a href="{{URL}}/">Inicio<hr></a></li>
            <li><a href="{{URL}}/departamentos">Departamentos<hr></a></li>
            <li><a href="{{URL}}/promocoes">Promoções<hr></a></li>
            <li><a href="{{URL}}/contato">Contato<hr></a></li>
        </ul>
    </nav>
    <nav class="menu-conta">
        <ul>
            <li><a href="{{URL}}/search" class="buscar"><img class="i1" src="{{caminho}}/resources/assets/img/icones/search.png"><img class="i2" src="{{caminho}}/resources/assets/img/icones/search2.png"></a></li>
            <li><a href="{{URL}}/admin/login" class="usuario"><img class="i1" src="{{caminho}}/resources/assets/img/icones/user.png"><img class="i2" src="{{caminho}}/resources/assets/img/icones/user2.png"></a></li>
            <li><a href="{{URL}}/sacola" class="sacola"><img class="i1" src="{{caminho}}/resources/assets/img/icones/bag.png"><img class="i2" src="{{caminho}}/resources/assets/img/icones/bag2.png"></a></li>
        </ul>
    </nav>
</header>