<section class="banner">
    <a href="{{URL}}/" id="banner-link"><img src="./resources/assets/img/banner/1.png" alt="" id="banner"></a>
    <div class="buttons">
        <button id="banner-left"><i class="fa fa-angle-left"></i></button>
        <input type="radio" value="1" name="banner-radio" checked>
        <input type="radio" value="2" name="banner-radio">
        <input type="radio" value="3" name="banner-radio">
        <input type="radio" value="4" name="banner-radio">
        <input type="radio" value="5" name="banner-radio">
        <button id="banner-right"><i class="fa fa-angle-right"></i></button>
    </div>
</section>