<form method="post" id="form">
    <div class="botoes">
        <button type="button" id="menu-login">Informações de Login</button>
        <button type="button" id="menu-pessoais" disabled>Informações Pessoais</button>
        <button type="button" id="menu-pagamento" disabled>Informações de Pagamento</button>
    </div>
    <div class="infos">
        <div class="info info-login" id="info-login">
            <div class="titulo">
                Informações de Login
            </div>
            <div class="inputs">
                <!--{{status}}-->
                <input type="hidden" value="edit" name="tipo" id="tipo">
                <input type="hidden" value="{{id}}" name="id">
                <input type="email" name="email" placeholder="E-mail *" value="{{email}}" required>
                <div class="senha">
                    <input type="password" name="senha" placeholder="Senha *" value="{{senha}}" required id="senha-input">
                    <button type="button" id="senha-button"><i class="fa fa-eye"></i></button>
                </div>
                <p class="aviso">Preencha o formulario antes de continuar</p>
                <button type="button" id="continuar-pessoais">Continuar</button>
            </div>
        </div>
        <div class="info info-pessoais" id="info-pessoais">
            <div class="titulo">
                Informações Pessoais
            </div>
            <div class="inputs">
                <input type="text" name="nome" placeholder="Nome Completo *" value="{{nome}}" required>
                <div class="radio">
                    <p>
                        <label for="contaFisica">
                            <input type="radio" name="pessoa" value="fisica" id="contaFisica" required {{pessoaFisica}}>
                        </label>
                        Pessoa Física
                    </p>
                    <p>
                        <label for="contaJuridica">
                            <input type="radio" name="pessoa" value="juridica" id="contaJuridica" required {{pessoaJuridica}}> 
                        </label>
                        Pessoa Jurídica
                    </p>
                </div>
                <input type="text" name="cpf" placeholder="CPF *" value="{{cpf}}" required>
                <input type="text" name="cnpj" placeholder="CNPJ *" value="{{cnpj}}" required>
                <p class="input-titulo">Nascimento *</p>
                <input type="date" name="nascimento" placeholder="Nascimento *" value="{{nascimento}}" required>
                <input type="text" name="telefone" placeholder="Celular *" value="{{telefone}}" required>
                <input type="text" name="endereco" placeholder="Endereço de Entrega *" value="{{endereco}}" required>
                <input type="text" name="cep" placeholder="CEP *" value="{{cep}}" required>
                <p class="aviso">Preencha o formulario antes de continuar</p>
                <button type="button" id="voltar-login">Voltar</button>
                <button type="button" id="continuar-pagamento">Continuar</button>
            </div>
        </div>
        <div class="info info-pagamento" id="info-pagamento">
            <div class="titulo">
                Informações de Pagamento
            </div>
            <div class="inputs">
                <p class="aviso">Preencha o formulario antes de continuar</p>
                <input type="number" name="cartao" placeholder="Numero do Cartao *" value="{{cartao}}" required>
                <input type="text" name="titular" placeholder="Nome do Titular *" value="{{titular}}" required>
                <input type="number" name="codigo" placeholder="Código de Segurança *" value="{{codigo}}" required>
                <p class="input-titulo">Vencimento *</p>
                <input type="date" name="vencimento" placeholder="Vencimento *" value="{{vencimento}}" required>
                <button type="button" id="voltar-pessoais">Voltar</button>
                <button type="submit" id="concluir">Finalizar</button>
                <button type="button" id="deletar">Deletar</button>
            </div>
        </div>
    </div>
</form>